body{
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: Arial;
}
.Clock-Container{
  text-align:center;
}
.clock{
  font-size: 80px;
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}